#dps-button {
  right: 83.3333%;
  width: 16.6666% !important;
  z-index: 1000;
}
.dpsbtnimg {
  width: 69px;
  height: 53px;
}
.dpsmenu {
  background-color: #282C35;
  right: 345px;
  display: none;
  height: inherit;
  width: 345px;
  position: absolute;
  border-bottom: 1px solid #0A0A0A;
}
