.dpsadmin { /*ALPHA 06 */
  color: #42A5DC;
}
.dpsba { /*ALPHA 06 */
  color: #89BE6C;
}
.dpsstaff { /*ALPHA 06 */
  color: #AC76FF;
}
.dpssub { /*ALPHA 06 */
  color: #C59840;
}
.dpsyou { /*ALPHA 06 */
  color: #FFDD6F;
}
.dpsuser { /*ALPHA 06 */
  color: #777F92;
}
.dpsgreen { /* ALPHA 06 */
  color: #90AD2F; /* woot color */
}
.dpsred { /* ALPHA O6 */
 color: #C42E3B; /*meh color */
}
.dpsul { /*ALPHA 06 */
  color: #B02935;
}
.dpsuj { /*ALPHA 06 */
  color: #3B94C6;
}
.dpsgpurple { /*ALPHA 06 */
  color: #AA74FF; /* grab color */
}
.dpsbluegray { /* ALPHA 06 */
  color: #8493B0; /* color of most icons */
}
.dpsdedede { /*ALPHA 06 */
  color: #DEDEDE;
}
#dps-button { /*ALPHA 05 */
  right: 83.3333%;
  width: 16.6666% !important;
  z-index: 1000;
}
.dpsbtnimg { /*ALPHA 05 */
  width: 69px;
  height: 53px;
}
.dpsmenu { /*ALPHA 05 */
  background-color: #282C35;
  right: 345px;
  display: none;
  height: inherit;
  width: 345px;
  position: absolute;
  border-bottom: 1px solid #0A0A0A;
  border-left: 1px solid #0A0A0A;
  overflow-y: auto;
}
.dpsmsection { /*ALPHA 06 */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 1px solid #AC76FF;
  color: #AC76FF;
  font-weight: bold;
  cursor: default;
}
.dpsmrow { /*ALPHA 05 */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  -moz-user-select: none;
  cursor: default;
  }

.dpsmrowtext { /*ALPHA 05 */
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 30px;
  cursor: pointer;
}
.dpsmcheck { /*ALPHA 05 */
  left: 0px;
}
.dpsmpm { /*ALPHA 06 */
  right: 0px;
  z-index: 500;
  float: right;
}
.dpsmmrow { /*ALPHA 06 */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  -moz-user-select: none;
  cursor: default;
  line-height: 30px;
}
.dpsmmrowtext { /*ALPHA 06 */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  line-height: 30px;
  cursor: default;
}
.dpsmccinput { /* ALPHA 06 */
  width: 50%;
  margin-left: 10px;
  padding: 2px;
  background-color: #323742;
  color: #DEDEDE;
}
.dpsmoptm { /* ALPHA 06 */
  background-color: #282C35;
  right: 690px;
  display: none;
  height: inherit;
  width: 345px;
  position: absolute;
  border-bottom: 1px solid #0A0A0A;
  border-left: 1px solid #0A0A0A;
  border-right: 1px solid #0A0A0A;
  overflow-y: auto;
}
